@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

@media (max-width: 375px) {
  html {
    font-size: 13px;
    zoom: 85%;
  }
}

html {
  font-family:'Barlow', Helvetica, Arial, sans-serif !important;
  font-size: 16px;
}

body {
  color: white;
  background-color: #000429;
  width: 375px;
  /*max-width: 400px;*/
  position: static;
  text-align: center;
  margin-right: auto !important;
  margin-left: auto !important;
}

#nonTable {
  display: block;
  width: 375px;
  position: static;
  margin-right: auto !important;
  margin-left: auto !important;
}

/*@media (min-width:1400px){bodywidth: 1400px ;}}*/

#divh1 {
  height: 40px;
}

h1 {
  font-size: 1.4rem;
}

#divInput {
  background-image: linear-gradient(-180deg, #3F0C8E, #0F1B6D);
  border-radius: 15px 15px 0 0;
  padding-top: 10px;
}

#guideRatio {
  height: 20px;
  font-size: 0.8rem;
}

#divRatio, #divRatio2 {
  height: 35px;
  width: 335px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#divMap,
#divDifficulty {
  padding: 5px;
}

/* Winrate and 3 more*/
#divRatio > div, #divRatio2 > div {
  display: table;
  width: 70px;
}

.txtRg {
  width: 70px;
  height: 35px;
  display: table-cell;
  vertical-align: middle;
}

/* ratio bar */
#divRatio > :nth-child(2), #divRatio2 > :nth-child(2){
  width: 175px;
}

/* Number of Games,  Bronze Games, Mastee Games */
#divRatio > :nth-child(3), #divRatio2 > :nth-child(1), #divRatio2 > :nth-child(3) {
  font-size: 0.9rem;
}

#divSlt {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#divRole {
  height: 45px;
  display: flex;
  justify-content: center;
}

#sltMap,
#sltDifficulty {
  font-size: 1em;
}

#sltMap {
  width: 165px;
}

#sltDifficulty {
  width: 100px;
}

#divClear {
  display: table;
}

#labelClear {
  width: 50px;
  height: 30px;
  font-size: 1rem;
  background-color: #000429;
  border-radius: 4px;
  display: table-cell;
  vertical-align: middle;
}

#btnClear {
  display: none;
}

#divRatio > p,
#divRatio > input,
#divRatio2 > p,
#divRatio2 > input,


/* table */
#tableMain {
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
  margin-bottom: 0px;
}

.col1 {
  width: 55px;
}
.col2 {
  width: 20px;
}
.col3 {
  width: 45px;
}
.col4 {
  width: 205px;
}
.col5 {
  width: 50px;
}

/* does not work like what I want
#tableMain tr.rowShow:nth-child(2n + 2) {
  background-color: #0f1445;
}*/

#tableMain tr:nth-child(n + 2) {
  height: 56px;
  border-bottom: 3px solid #0F1B6D !important ;
}

.rowHide {
  display: none;
}

.rowCheck td:nth-child(3),
.rowCheck td:nth-child(4) {
  opacity: 0.2;
}

.rowCheck td:nth-child(5) {
  opacity: 1;
}

#tableMain td,
#tableMain th {
  font-weight: normal;
  word-break: break-all;
  border: none;
}

#tableMain th {
  background-color: #0F1B6D;
  color: white;
  height: 45px;
  font-size: 0.9rem;
}

#tableMain td {
  height: 50px !important ;
  border: none;
}

.btnHero {
  border: none;
}

.btnHero img {
  border-radius: 15%;
  border-width: 0px;
  padding: 1px;
  width: 50px;
  height: 50px;
  /*position: absolute; top:0; left:50px; z-index: 10;";*/
}

/* ex: roleMelee */
div[class^="role"] {
  color: #000000;
  font-size: 0.8rem;
  width: 15px;
  height: 44px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 2px 5px 5px 2px;
}

div[class="roleTank"] {
  background-image: linear-gradient(-90deg, #ffe45f, #ffc510);
}
div[class="roleBruiser"] {
  background-image: linear-gradient(-90deg, #ff5e00, #ff5d26);
}
div[class="roleMelee"] {
  background-image: linear-gradient(-90deg, #ff4d4d, #ff3130);
}
div[class="roleRanged"] {
  background-image: linear-gradient(-90deg, #ae5cff, #9945ff);
}
div[class="roleHealer"] {
  background-image: linear-gradient(-90deg, #48ff85, #33d71e);
}
div[class="roleSupport"] {
  background-image: linear-gradient(-90deg, #55aaff, #3090ff);
}

.difficulty1,
.difficulty2,
.difficulty3,
.difficulty4,
.difficulty5 {
  display: flex;
  flex-direction: column-reverse;
}

.difficulty1 > div,
.difficulty2 > div,
.difficulty3 > div,
.difficulty4 > div,
.difficulty5 > div {
  height: 7px;
  width: 25px;
  border-radius: 3px;
  border-width: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.difficulty1 > div {
  background-image: linear-gradient(-90deg, #f1ffc1, #b5e51c);
}
.difficulty2 > div {
  background-image: linear-gradient(-90deg, #ffeda7, #ffe91f);
}
.difficulty3 > div {
  background-image: linear-gradient(-90deg, #ffbe7d, #ff8f20);
}
.difficulty4 > div {
  background-image: linear-gradient(-90deg, #d33e3e, #b31313);
}
.difficulty5 > div {
  background-image: linear-gradient(-90deg, #cf3470, #9e013d);
}

#tableMain tr:nth-child(n + 2) > :nth-child(3) {
  display: flex;
  align-items: center;
}

.divRectText,
.rectMain {
  float: left;
  border-radius: 0 2px 2px 0;
}

.divRectText {
  text-align: right;
  vertical-align: middle;
  float: right;
  position: relative;
}

input.cbxPerHero {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  transform: scale(1.3);
}

#dataFrom {
  background-color: #0F1B6D;
  border-radius: 0 0 15px 15px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#dataFrom a {
  color: white;
}

#divContact > p,
#divContact > a {
  position: static;
  display: inline;
}

#divContact > a {
  color: white;
}

#divScroll {
  position: fixed;
  bottom: 60px;
  right: 10px;
  background-image: linear-gradient(-180deg, #3F0C8E, #0F1B6D);
  width: 60px;
  height: 50px;
  font-size: 1.2rem;
  display: table;
  border-radius: 10px;
  border: 4px solid #000429;
}

#divScroll label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#btnScroll {
  display: none;
}

#divBonus {
  visibility: hidden;
  display: flex;
  align-items: flex-start;
  padding: 5px;
  background-image: linear-gradient(-180deg, #3F0C8E, #0F1B6D);
  z-index: 1;
  width: 357px;
  position: fixed;
  bottom: 15px;
  opacity: 0.95;
  border-radius: 15px;
  border: 4px solid #000429;
}

@media (min-height: 1000px) {
  #divBonus {
    top: 750px;
  }
}

#divMainHero{
  position: absolute;
  top: 7px;
  left: 17px;
  font-size: 1.2rem;
}

#divCloseBonus {
  position: absolute;
  right: 0px;
  top: 7px;
}

#btnCloseBonus {
  border: none;
  font-size: 1.2rem;
  color:white;
}

#divBonusLeft, #divBonusRight {
  width: 50%;
}

#divBonusLeft p, #divBonusRight p {
  /* height: 20px !important; doesnt work */
  height:17px;
  padding-top:15px;
}

#divBonusLeft > div, #divBonusRight > div {
  overflow: auto;
  height: 170px;
}

#divBonusLeft > div {
  border-radius: 9px 0 0 9px;
  background-color: rgba(0, 255, 0, 0.3)
}

#divBonusRight > div{
  border-radius: 0 9px 9px 0;
  background-color: rgba(255, 0, 0, 0.3);
}


.divHeroBox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap; 
}

.divHeroSmallSet{
  position: relative;

}

.divHeroSmallSet p {
  position: absolute;
  vertical-align:text-top;
  top:-5px;
  left: 0px;
  z-index: 1;
}

.divHeroSmallSet img {
  position: relative;
  top:0px;
  left:4px;
  border-radius: 15%;
  border-width:1px;  
  border-style:solid;
  margin: 7px;
  width: 36px;
  height: 36px;
}



.lvlGold {
  border-color: #fee101;
}

.lvlSilver {
  border-color: #d7d7d7;
}

.lvlBronze {
  border-color: #a77044;
}